<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:ads="http://schemas.android.com/apk/lib/com.google.ads"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="{{android.package}}" >

    <uses-sdk
        android:minSdkVersion="{{android.minimum_sdk_version}}"
        android:targetSdkVersion="{{android.target_sdk_version}}"/>

    <application>
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="{{admob.app_id}}"/>
    </application>

</manifest>
